<header>
My Surgery Pal
</header>

  <div class="row birds">
    
    <div class="col-md-offset-1 col-md-4"><%= render 'users/form' %></div>
    <div class="span4 offset2"><%= render 'sessions/log_in' %></div>
  </div>
  <div class="row birds_purple">
    
      
     
    </div>
  </div>
  
  <div class ="row footer">
    
  </div> 
  

  <div class="row">


