<header>
<!-- <img src="assets/kuu_logo.png"> -->
</header>

  <div class="row birds">
    
    <div class="span4 offset2"><%= render 'users/form' %></div>
    <div class="span4 offset2"><%= render 'sessions/log_in' %></div>
  </div>
  <div class="row birds_purple">
    
      
     
    </div>
  </div>
  
  <div class ="row footer">
    
  </div> 
  

  <div class="row">


